* {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

html {
    font-size: 50px;
    height: 100%;
    width: 100%;
    touch-action: none;
}

body {
    width: 100%;
    overflow: hidden;
    height: 100%;
    /* background: url("../images/pageone/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; */
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.box #bg {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: url(../images/pageone/bg.jpg) */
}

.pic {
    width: 6.17rem;
    height: 6.23rem;
    position: relative;
    top: 1.08rem;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.pic .one {
    position: absolute;
}

.pic #re {
    width: 2.93rem;
    left: -4rem;
}

.pic #rr {
    left: 7rem;
}

.pic #hh {
    bottom: -10rem;
}

.pic #dd {
    height: 1.78rem;
    width: 1.33em;
    top: -5rem;
    left: 4rem;
}

.pic #dda {
    width: 0.44rem;
    top: -5rem;
    left: 4rem;
}

.pic #gg {
    top: -7rem;
    left: 4rem;
    width: 1.68rem;
}

.pic #qq {
    width: 1.53rem;
    top: -5rem;
    left: 4rem;
}

.pic #yy {
    width: 4.52rem;
    /* top: 1.41rem; */
    right: 0;
    bottom: -8rem;
}

.pic #ccc {
    width: 0.78rem;
    top: -5rem;
    left: 4rem;
}

.pic #pr {
    left: 1.39rem;
    /* height: 3.96rem; */
    bottom: 0;
    width: 2.53rem;
    /* display: none; */
    opacity: 0;
    transform: translate3d(-50px, 0, 500px);
    animation: zChange 1s linear forwards 1.5s;
}

.pic #pm {
    width: 2.89rem;
    top: 2.14rem;
    right: 0;
    opacity: 0;
    transform: translate3d(-50px, 0, 500px);
    animation: zChange 1s linear forwards 2.5s;
}

.pic #pe {
    left: 2.38rem;
    width: .84rem;
    top: 2.28rem;
    opacity: 0;
    transform: translate3d(-50px, 0, 500px);
    animation: zChange 1s linear forwards 2s;
}

.pic #pd {
    left: .28rem;
    width: .76rem;
    top: 2.51rem;
    opacity: 0;
    transform: translate3d(-50px, 0, 500px);
    animation: zChange 1s linear forwards 1s;
}

.pic #m {
    width: 1.04rem;
    left: 1.67rem;
    bottom: 0;
    opacity: 0;
    transform: translate3d(-50px, 0, 500px);
    animation: zChange2 1s linear forwards 2.7s;
}

.pic #a {
    width: .91rem;
    left: 2.81rem;
    bottom: 0;
    opacity: 0;
    transform: translate3d(-50px, 0, 500px);
    animation: zChange2 1s linear forwards 2.9s;
}

.pic #k {
    width: .74rem;
    left: 3.89rem;
    bottom: 0;
    opacity: 0;
    transform: translate3d(-50px, 0, 500px);
    animation: zChange2 1s linear forwards 3.1s;
}

.pic #e {
    width: .5rem;
    bottom: 0;
    left: 4.77rem;
    opacity: 0;
    transform: translate3d(-50px, 0, 500px);
    animation: zChange2 1s linear forwards 3.3s;
}

.pic #r {
    width: .66rem;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate3d(-50px, 0, 500px);
    animation: zChange2 1s linear forwards 3.5s;
}

@keyframes zChange {
    from {
        transform: translate3d(-50px, 0, 500px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes zChange2 {
    from {
        transform: translate3d(0px, -100px, 500px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes zChange3 {
    from {
        opacity: 0;
        transform: translate3d(0, 0, -1000px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.btm {
    position: relative;
    margin-top: 1.38rem;
    perspective: 1000px;
    transform-style: preserve-3d;
    z-index: 10;
}

.btm img {
    position: absolute;
    width: 4.37rem;
    top: 1.38rem;
    /* margin: 1.38rem auto; */
    /* /* top: 1.38rem; */
    left: 50%;
    margin-left: -2.1rem;
    opacity: 0;
    transform: translate3d(0, 0, -1000px);
    animation: zChange3 1s linear forwards 4s;
    z-index: 99;
}

.arrow {
    position: fixed;
    bottom: .82rem;
    z-index: 9999;
    width: 100%;
    /* right: 0; */
    /* margin-top: 100px;  */
}

.arrow img {
    width: 0.54rem;
    position: absolute;
    left: 50%;
    margin-left: -0.27rem;
}

#l1 {
    width: 2.11rem;
    /* h:.58 */
    position: absolute;
    top: 7.67rem;
    left: -2.2rem;
    z-index: 99999;
    /* animation: l1 1s linear infinite; */
}

#l2 {
    width: 2.67rem;
    /* h:.93rem */
    position: absolute;
    top: 2.32rem;
    left: 8rem;
    z-index: 99999;
}

#l3 {
    width: 3.11rem;
    /* h:1.82 */
    position: absolute;
    top: 8.61rem;
    left: 8rem;
    z-index: 99999;
}

#cd {
    position: absolute;
    z-index: 999;
    width: 3rem;
    top: 410px;
    left: 55px;
    animation: cd .5s linear forwards 5s;
    transform: translate3d(0, 0, -500px);
    opacity: 0;
}

#cdd {
    position: absolute;
    z-index: 9;
    width: 5rem;
    top: 410px;
    left: 100px;
    animation: cdd .5s linear forwards 5s;
    transform: translate3d(100px, 100px, -500px);
    opacity: 0;
}

@keyframes cd {
    from {
        transform: translate3d(0, -50px, -500px);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes cdd {
    from {
        transform: translate3d(100px, 100px, -500px);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.box2 {
    width: 100%;
    height: 100%;
    background-color: #0fd;
    position: relative;
    overflow: hidden;
}

.box2 .text {
    position: absolute;
    bottom: 0rem;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 3rem;
}

.box2 .text #ww {
    width: 60%;
    display: block;
    /* transform: translateX(6rem); */
    /* animation: ww 1s linear forwards; */
}

.box2 .text #www {
    width: 90%;
    display: block;
    margin-top: 20px;
    /* transform: translateX(-8rem) */
}

@keyframes ww {
    from {
        transform: translateX(6rem)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes www {
    from {
        transform: translateX(-8rem)
    }
    to {
        transform: translateX(0)
    }
}

.box3 {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

.box3 .floatImg {
    position: absolute;
    top: 50%;
    left: 50%;
}

.box3 #img5 {
    width: .83rem;
    /* height:.98rem; */
    top: 7%;
    left: 21%;
}

.box3 #img55 {
    width: 3.53rem;
    /* height:3.29rem; */
    top: 10%;
    left: 52%;
}

.box3 #group4 {
    width: 3.36rem;
    /* height:.98rem; */
    top: 27%;
    left: 4%;
}

.box3 #img3 {
    width: .76rem;
    /* height:.98rem; */
    top: 34%;
    left: 82%;
}

.box3 #grounp4 {
    width: 4.1rem;
    /* height:.98rem; */
    top: 41%;
    left: 45%;
}

.box3 #group2 {
    width: 3.2rem;
    /* height:.98rem; */
    top: 52%;
    left: 4%;
}

.box3 #group1 {
    width: 3.2rem;
    /* height:.98rem; */
    top: 69%;
    left: 49%;
}

.box3 #img4 {
    width: .71rem;
    /* height:.98rem; */
    top: 78%;
    left: 17%;
}

.box4 {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

.box4 .main {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.box4 #ccline {
    z-index: -5;
    position: absolute;
    top: -7px;
    left: 37px;
    width: 90%;
    height: 85%;
}

.box4 #pl {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 95%;
    opacity: 0;
    /* transform: translate3d(0, 0, -500px); */
    transform: scale(0.3);
    pointer-events: "none"
}

.box4 #hov {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    background-color: #000;
    position: absolute;
    z-index: -2;
    top: -55px;
    left: 17px;
    transform: scale(1);
    /* animation: hov 3s linear forwards; */
}

.box4 .text {
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 0;
    font-size: .5rem;
    text-align: center;
    /* line-height: 100px; */
    color: white;
    top: 4rem;
    left: 10px;
}

.box4 .text #p1 {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
}

.box4 .text #p2 {
    opacity: 0;
}

@keyframes p1 {
    from {
        opacity: 0;
        transform: translate3d(-100px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes p2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pl {
    from {
        opacity: 0;
        transform: scale(0.3);
        /* transform: translate3d(0, 0, -500px) */
    }
    to {
        opacity: 1;
        transform: scale(1.1);
        /* transform: translate3d(0, 0, -1px) */
    }
}

@keyframes face {
    from {
        opacity: 0;
        transform: translate3d(0, 0, -500px)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes hov {
    from {
        border-radius: 0%;
        transform: scale(1);
    }
    to {
        border-radius: 50%;
        transform: scale(0.05);
    }
}

.box4 .faces {
    position: absolute;
    opacity: 0;
    transform: translate3d(0, 0, -500px)
}

.box4 .f {
    z-index: 10;
}

.box4 #liuyong {
    width: 1.42rem;
    left: 2.9rem;
    top: 1.54rem;
}

.box4 #shenxiaohui {
    width: 1.69rem;
    left: .9rem;
    top: 2.58rem;
}

.box4 #gy {
    width: 1.52rem;
    left: 5.38rem;
    top: 2.36rem;
}

.box4 #aluo {
    width: 1.52rem;
    left: 1.4rem;
    top: 5.4rem;
}

.box4 #wangzhuang {
    width: 1.6rem;
    left: 5.7rem;
    top: 5.2rem;
}

.box4 #wqg {
    width: 1.42rem;
    left: 1.3rem;
    top: 7.5rem;
}

.box4 #madong {
    width: 1.42rem;
    left: 5.32rem;
    top: 7.48rem;
}

.box4 #wxf {
    width: 1.58rem;
    left: 3.1rem;
    top: 8.7rem;
}

.box4 .touch {
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0;
}

.box4 .touch #obj {
    width: 3.1rem;
    position: absolute;
    top: -1rem;
    left: 2.5rem;
    opacity: 0;
}

@keyframes obj {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.box4 .swipper {
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 100;
    position: absolute;
    /* opacity: 0; */
    display: none;
}

.box4 .swipper #ccline {
    z-index: -5;
    position: absolute;
    top: -7px;
    left: 37px;
    width: 90%;
    height: 85%;
}

.box4 .swipper #pl2 {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 95%;
    transform: translate3d(0, 0, 100px)
}

.box4 .swipper .circle {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
}

.box4 .swipper #c1 {
    background-color: #694F02;
    top: 130px;
    left: 47px;
}

.box4 .swipper #c2 {
    background-color: #83694D;
    top: 47px;
    left: 142px;
}

.box4 .swipper #c3 {
    background-color: #0FA89D;
    top: 110px;
    left: 275px;
}

.box4 .swipper #c4 {
    background-color: #4DB207;
    top: 270px;
    left: 73px;
}

.box4 .swipper #c5 {
    background-color: #15569D;
    top: 260px;
    left: 285px;
}

.box4 .swipper #c6 {
    background-color: #370425;
    top: 330px;
    left: 127px;
}

.box4 .swipper #c7 {
    background-color: #3E836A;
    top: 440px;
    left: 160px;
}

.box4 .swipper #c8 {
    background-color: #8E4C05;
    top: 373px;
    left: 266px;
}

.box4 .swipper .show {
    width: 100%;
    height: 6rem;
    position: absolute;
    bottom: 3.78rem;
    z-index: 100;
}

@keyframes ball {
    from {
        transform: scale(0.9)
    }
    to {
        transform: scale(0.3)
    }
}

.box4 .swipper .show ul {
    /* border: 1px solid red; */
    position: absolute;
    overflow: hidden;
    width: 900%;
    top: 0;
    left: 0;
}

.box4 .swipper .show ul li {
    float: left;
    width: 11.1%;
}

.box4 .swipper .show ul li img {
    width: 100%;
}

.box4 .swipper .show .arr {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 50%;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 60px;
    z-index: 101;
}

.box4 .swipper .show .arr .l {
    position: absolute;
    left: 0;
}

.box4 .swipper .show .arr .r {
    position: absolute;
    right: 0;
}

.box4 .swipper .show #x {
    width: 1rem;
    position: absolute;
    top: -3rem;
    left: .5rem;
}

.box5 {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.box5 #bg5 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.box5 #title5 {
    position: absolute;
    top: 1.26rem;
    left: 0.86rem;
    opacity: 0;
}

.box5 .faces5 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.box5 .faces5 .face5 {
    transform: rotate(15deg);
    width: 14%;
    height: 11%;
    /* border: 1px solid red; */
    position: absolute;
    top: 152px;
    left: 58px;
    /* opacity: 0; */
    /* display: none; */
}

.box5 .faces5 #f1 {
    top: 16.1%;
    left: 48.5%;
}

.box5 .faces5 #f2 {
    top: 20.3%;
    left: 76.2%;
}

.box5 .faces5 #f3 {
    top: 40%;
    left: 52%;
}

.box5 .faces5 #f4 {
    top: 35.8%;
    left: 24%;
}

.box5 .faces5 #f5 {
    top: 20.8%;
    left: 1.9%;
}

.box5 .faces5 #f6 {
    top: 55.5%;
    left: 0%;
}

.box5 .faces5 #f7 {
    top: 62%;
    left: 41.5%;
}

.box5 .faces5 #f8 {
    top: 55%;
    left: 74%;
}

.box5 .faces5 #f9 {
    top: 81.5%;
    left: 17.5%;
}

.box5 .faces5 #f10 {
    top: 76.7%;
    left: 63.5%;
}

.box5 .faces5 .face5 .glass {
    width: 100%;
    height: 100%;
    transform: translate3d(.8rem, .65rem, 0);
    position: absolute;
    display: none;
}

.box5 .faces5 .face5 .hov {
    opacity: 0.5;
}

.box5 .faces5 .face5 .ff {
    width: 100%;
    transform: translate3d(.8rem, .65rem, 0);
    position: absolute;
    z-index: 10;
    display: none;
}

.box5 .faces5 .face5 .ff:hover {
    width: 120%;
    transform: translate3d(0.3rem, 0rem, 0);
}

.box5 .faces5 .face5 .gyg {
    width: 177%;
    position: absolute;
    z-index: 5;
    opacity: 0;
}

.box5 .touch {
    position: absolute;
    width: 100%;
    height: 100px;
}

.box5 .touch img {
    width: 3.1rem;
    position: absolute;
    top: 9rem;
    left: 0.5rem;
    opacity: 0;
    z-index: 10;
}

@keyframes boxfloat {
    from {
        /* opacity: 0; */
        width: 100%;
        transform: translate3d(.8rem, .65rem, 0);
    }
    to {
        /* opacity: 1; */
        width: 120%;
        transform: translate3d(0.3rem, 0rem, 0);
    }
}

.box5 .faces5 .card {
    width: 6.56rem;
    height: 9.96rem;
    border: 1px solid rgb(137, 137, 137);
    color: white;
    position: absolute;
    background-color: #000;
    top: 0;
    left: 50%;
    margin-left: -3.28rem;
    margin-top: 1.26rem;
    z-index: 15;
    display: none;
    transform: rotate(15deg) scale(0.1);
    /* transform: scale(0.3) */
}

@keyframes card {
    from {
        transform: rotate(15deg) scale(0.1);
    }
    to {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes recard {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(15deg) scale(0.1);
    }
}

.box5 .faces5 .card #fx {
    position: absolute;
    right: -.18rem;
    top: .18rem;
    width: 1.3rem;
}

.box5 .faces5 .card .f5 {
    width: 100%;
    margin-top: .84rem;
}

.box5 .faces5 .card h1 {
    font-size: .6rem;
    /* margin-top: .78rem; */
    height: 1.5rem;
    line-height: 1.5rem;
    margin-left: .4rem;
}

.box5 .faces5 .card p {
    font-size: .36rem;
    margin-left: .4rem;
}

.box5 .faces5 .card .text {
    width: 100%;
    padding: 0 .84rem .64 .4rem
}

.box6 {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: relative;
    overflow: hidden;
    /* padding-top: 1.36rem; */
}

.box6 #t1 {
    width: 2.73rem;
    position: absolute;
    left: -2.73rem;
    top: 1.36rem;
    transform: scale(1.5);
    /* animation: t1 1.5s linear forwards; */
    opacity: 0;
}

@keyframes t1 {
    from {
        left: -2.73rem;
        transform: scale(1.5);
        opacity: 0;
    }
    to {
        left: .48rem;
        transform: scale(1);
        opacity: 1;
    }
}

.box6 #t2 {
    width: 2.68rem;
    position: absolute;
    left: -2.73rem;
    top: 1.36rem;
    transform: scale(1.5);
    /* animation: t2 1.5s linear forwards; */
    opacity: 0;
}

@keyframes t2 {
    from {
        left: -2.73rem;
        transform: scale(1.5);
        opacity: 0;
    }
    to {
        left: 3.96rem;
        transform: scale(1);
        opacity: 1;
    }
}

.box6 #t3 {
    width: .6rem;
    position: absolute;
    right: -2.73rem;
    top: 4rem;
    transform: scale(3.5);
    /* animation: t3 1.5s linear forwards; */
    opacity: 0;
}

@keyframes t3 {
    from {
        right: -2.73rem;
        transform: scale(3.5);
        opacity: 0;
    }
    to {
        right: 0rem;
        transform: scale(1);
        opacity: 1;
    }
}

.box6 #t4 {
    width: .52rem;
    position: absolute;
    left: 8rem;
    top: 3.36rem;
    transform: scale(5.5);
    opacity: 0;
    z-index: 10;
    /* animation: t4 1s linear forwards 0.5s; */
}

@keyframes t4 {
    from {
        left: 8rem;
        top: 3.36rem;
        transform: scale(5.5);
        opacity: 0;
    }
    to {
        left: 0rem;
        top: 1.36rem;
        transform: scale(1);
        opacity: 1;
    }
}

.box6 #t5 {
    width: 2.68rem;
    position: absolute;
    left: 8rem;
    top: 1.36rem;
    transform: scale(2.5);
    opacity: 0;
    /* animation: t5 1.5s linear forwards; */
}

@keyframes t5 {
    from {
        left: 8rem;
        transform: scale(2.5);
        opacity: 0;
    }
    to {
        left: 2.16rem;
        transform: scale(1);
        opacity: 1;
    }
}

.box6 #t6 {
    width: .6rem;
    position: absolute;
    right: 8rem;
    top: 3.36rem;
    transform: scale(5.5);
    opacity: 0;
    /* animation: t6 1.5s linear forwards; */
}

@keyframes t6 {
    from {
        right: 8rem;
        top: 3.36rem;
        transform: scale(5.5);
        opacity: 0;
    }
    to {
        right: -0.2rem;
        top: 1.36rem;
        transform: scale(1);
        opacity: 1;
    }
}

.box6 #t7 {
    width: .6rem;
    position: absolute;
    left: -0.6rem;
    top: 7.36rem;
    transform: scale(5.5);
    opacity: 0;
    /* animation: t7 1.5s linear forwards; */
    z-index: 10;
}

@keyframes t7 {
    from {
        left: -0.6rem;
        top: 7.36rem;
        transform: scale(5.5);
        opacity: 0;
    }
    to {
        left: 3.32rem;
        top: 5.24rem;
        transform: scale(1);
        opacity: 1;
    }
}

.box6 #t8 {
    width: .3rem;
    position: absolute;
    right: 8rem;
    bottom: 5.02rem;
    /* animation: t8 1.5s linear forwards; */
    z-index: 10;
}

@keyframes t8 {
    from {
        transform: scale(5.5);
        right: 8rem;
        bottom: 5.02rem;
        opacity: 0;
    }
    to {
        right: .54rem;
        bottom: 2.02rem;
        transform: scale(1);
        opacity: 1;
    }
}

.box6 .tit {
    width: 100%;
    color: white;
    font-size: .52rem;
    text-align: center;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 2.45rem;
    opacity: 0;
}

.box6 .word {
    width: 4.6rem;
    position: absolute;
    top: 3.94rem;
    left: 50%;
    margin-left: -2.3rem;
    opacity: 0;
}

.box6 .word img {
    width: 4rem;
    display: block;
}

.box6 .teach {
    position: absolute;
}

.box6 #gz {
    width: 1.71rem;
    left: 1.67rem;
    opacity: 0;
    top: 5.29rem;
}

.box6 #thc {
    width: 2.22rem;
    left: 3.87rem;
    opacity: 0;
    top: 5.59rem;
}

.box6 #hp {
    width: 1.71rem;
    left: 1.05rem;
    opacity: 0;
    top: 8.02rem;
}

.box6 #jy {
    width: 1.61rem;
    left: 2.94rem;
    opacity: 0;
    top: 7.9rem;
}

.box6 #jd {
    width: 1.7rem;
    opacity: 0;
    top: 7.78rem;
    left: 4.66rem;
}

.box6 #twq {
    width: 1.72rem;
    left: 2.14rem;
    opacity: 0;
    top: 10.37rem;
}

.box6 #wp {
    width: 1.72rem;
    left: 4.64rem;
    opacity: 0;
    top: 9.79rem;
}

.box7 {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.box7 #t71 {
    position: absolute;
    left: 6.96rem;
    top: 7.14rem;
    width: 2.5rem;
}

.box7 #t72 {
    position: absolute;
    width: .76rem;
    height: .42rem;
    left: .62rem;
    top: 1.5rem;
}

.box7 #t73 {
    position: absolute;
    left: -1rem;
    top: 11.94rem;
    width: 2.5rem;
}

.box7 #t74 {
    position: absolute;
    left: 6.76rem;
    top: 3.84rem;
}

.box7 #t75 {
    position: absolute;
    left: -1rem;
    top: 4.94rem;
    width: 2.5rem;
}

.box7 #t76 {
    position: absolute;
    left: 6.12rem;
    top: 12.14rem;
    width: .44rem;
}

.box7 .tit {
    width: 100%;
    position: absolute;
    top: 1.5rem;
    opacity: 0;
}

.box7 .tit img {
    width: 5.02rem;
    display: block;
}

.box7 .titl {
    width: 100%;
    position: absolute;
    top: 2.46rem;
    opacity: 0;
}

.box7 .titl img {
    width: 6.8rem;
    display: block;
}

.box7 .linehov {
    width: 4.14rem;
    height: 9rem;
    /* overflow: hidden; */
    /* display: none; */
    position: absolute;
    bottom: 1.1rem;
    left: 50%;
    margin-left: -2.07rem;
    /* border: 1px solid red; */
    background-color: #000;
    z-index: 100;
}

.box7 #line {
    position: absolute;
    top: 3.76rem;
    left: 50%;
    width: 4.14rem;
    margin-left: -2.07rem;
    /* opacity: 0; */
    /* display: none; */
}

.box7 .wo {
    width: 4.75rem;
    position: absolute;
}

.box7 #wo1 {
    left: 8rem;
    top: 4.94rem;
}

.box7 #wo2 {
    left: -5rem;
    top: 7.8rem;
}

.box7 #wo3 {
    left: 8rem;
    top: 10.46rem;
}

.box8 {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.box8 #blo81 {
    position: absolute;
    left: 8rem;
    top: 1.58rem;
    width: 2.56rem;
}

.box8 #blo82 {
    position: absolute;
    left: -1rem;
    top: 1.58rem;
    width: .52rem;
}

.box8 #blo83 {
    position: absolute;
    left: 8rem;
    top: 5.3rem;
    width: .86rem;
}

.box8 #blo84 {
    position: absolute;
    left: -3rem;
    top: 3.48rem;
    width: 2.56rem;
}

.box8 #blo85 {
    position: absolute;
    left: 8rem;
    top: 3.72rem;
    width: 2.72rem;
}

.box8 #blo86 {
    position: absolute;
    left: 8rem;
    top: .89rem;
    width: .9rem;
}

.box8 .tit {
    width: 100%;
    position: absolute;
    top: 2.8rem;
    left: 8rem;
    opacity: 0;
}

.box8 .tit img {
    width: 3.16rem;
    display: block;
}

.box8 .zbf {
    width: 100%;
    position: absolute;
    top: 4.54rem;
    opacity: 0;
}

.box8 .zbf img {
    width: 4.3rem;
    display: block;
}

.box8 .lhzb {
    width: 100%;
    position: absolute;
    top: 6.88rem;
    opacity: 0;
}

.box8 .lhzb img {
    width: 3.22rem;
    display: block;
}

.box8 .btmm {
    position: absolute;
    top: 14rem;
    width: 100%;
    /* left: 50%; */
    /* margin-left: -2.94rem; */
    /* display: flex; */
    /* justify-content: space-around; */
}

.box8 .btmm img {
    width: 1.6rem;
    position: absolute;
}

.box8 .btmm #k36 {
    left: .74rem;
}

.box8 .btmm #bank {
    left: 2.86rem;
}

.box8 .btmm #aiqiyi {
    left: 5rem;
}

.box9 {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.box9 .bloc9 {
    position: absolute;
}

.box9 #good9 {
    left: .4rem;
    top: 1.9rem;
    width: 3rem;
}

.box9 #jb9 {
    left: 4.7rem;
    top: 2.06rem;
    width: 2.56rem;
}

.box9 #kind9 {
    left: 2.22rem;
    top: 1.84rem;
    width: 2.7rem;
}

.box9 #block89 {
    left: .88rem;
    top: 1.3rem;
    width: .64rem;
}

.box9 #img9 {
    left: 6.44rem;
    top: 4.38rem;
    width: .64rem;
}

.box9 #yes9 {
    left: 7.28rem;
    top: 2.36rem;
    width: .64rem;
}

.box9 .tit {
    width: 100%;
    position: absolute;
    top: 2.86rem;
}

.box9 .tit img {
    width: 5.85rem;
    display: block;
}

.box9 .font1 {
    width: 100%;
    position: absolute;
    top: 4.92rem;
}

.box9 .font1 img {
    width: 4.64rem;
    display: block;
}

.box9 .demond {
    width: 100%;
    position: absolute;
    top: 7.8rem;
}

.box9 .demond img {
    width: 2.18rem;
    display: block;
}

.box9 .demond #payfor {
    width: 1.7rem;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -0.55rem;
    left: 50%;
    margin-left: -0.85rem;
}

.box9 .font2 {
    width: 100%;
    position: absolute;
    top: 10rem;
}

.box9 .font2 img {
    width: 4.5rem;
    display: block;
}

.box9 .elle2 {
    width: 100%;
    position: absolute;
    top: 11rem;
}

.box9 .elle2 img {
    width: 2.5rem;
    display: block;
}

.box9 .elle2 p {
    font-size: .24rem;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: .5rem;
}

.box9 #share {
    position: absolute;
    right: .5rem;
    top: 1.3rem;
    width: 1.2rem;
}